<!-- calibrate.launch
Run optimizer in robot_calibration package on saved calibration data bag -->

<launch>

  <node pkg="robot_calibration" type="calibrate" name="calibrate"
        args="--from-bag $(find joint_calibration)/bags/calibration_data.bag"
        output="screen" required="true">
    <rosparam file="$(find joint_calibration)/config/calibrate.yaml" command="load" />
  </node>

</launch>
