<!-- calibrate.launch
Run optimizer in robot_calibration package on saved calibration data bag -->

<launch>

  <node pkg="joint_calibration" type="Calibrate" name="Calibrate"
        args="--from-bag $(find joint_calibration)/bags/calibration_data.bag
              --config $(find joint_calibration)/config/initial_params.yaml"
        output="screen" required="true">
    <!-- <rosparam file="$(find joint_calibration)/config/calibrate.yaml" command="load" /> -->
  </node>

</launch>
