<!-- capture_calibration_data.launch
Used for capturing a single tagslam output (tf between tags and base_link
to use as ground truth. Save in tag_ground_truth.bag -->

<launch>
  <include file="$(find joint_calibration)/launch/connect_tf_trees.launch"/>

  <node pkg="joint_calibration" type="calibration_gui.py"
        name="calibration_gui" output="screen"/>

  <node pkg="joint_calibration" type="virtual_sensors.py"
        name="data_formatter" output="screen"/>

  <!-- <node pkg="joint_calibration" type="data_formatter.py"
        name="data_formatter" output="screen"/> -->
</launch>
