<launch>
  
  <arg name="use_sim_time" default="true"/>
  <arg name="base_frame" default="base_link" />
  <arg name="camera_frame1" default="fisheye" />
  <arg name="camera_frame2" default="cam0" />
  <arg name="timeout" default="5" />


  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <node pkg="joint_calibration" type="ground_truth_gui.py"
        name="ground_truth_gui" output="screen"/>

  <node pkg="joint_calibration" type="ground_truth_creator.py"
        name="ground_truth_creator" output="screen">
    <param name="base_frame" type="string" value="$(arg base_frame)"/>
    <param name="camera_frame1" type="string" value="$(arg camera_frame1)"/>
    <param name="camera_frame2"   type="string" value="$(arg camera_frame2)"/>
    <param name="timeout" type="string" value="$(arg timeout)"/>
  </node>

</launch>
